@media screen and (min-width: 767px) and (max-width: 992px){
  .contenier{
    height: 55%;
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: center;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.205);
    border-radius: 25px;
}

.template{
    width: 30vw;
    height: 55vh;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

  .template-results{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vw;
    height: 55vh;
    border-radius: 25px;
    gap: 15px;
}

#title{
  width: 80%;
  padding: 10px 20px 0px 0px;  
}
article .reaction{
  padding: 10px;
}

article .memory{
  padding: 10px;
}

article .verbal{
  padding: 10px;
}

article .visual{
  padding: 10px;
}
input[type=button]{
  width: 80%;
  padding: 10px;
  
}
}

@media screen and (min-width: 992px) {
   .contenier{
    height: 70%;
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: center;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.205);
    border-radius: 25px;
  }
  
  .template{
    width: 30vw;
    height: 70vh;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
  }

  .results{
  background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
  padding: 25px 35px;
  border-radius: 50%;
}

  .template-results{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vw;
    height: 60vh;
    border-radius: 25px;
  }
  
}