* {
  margin: 0;
  padding: 0;
  font-family: "HankenGrotesk";
  box-sizing: border-box;
}

@font-face {
  font-family: "HankenGrotesk";
  src: url(/assets/fonts/HankenGrotesk-VariableFont_wght.ttf);
}

body {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contanier {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
  gap: 30px;
}

.template {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 38%;
  background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  gap: 10px;
  border-radius: 0px 0px 50px 50px;
  color: white;
  padding: 0 20px;
}

template p {
  color: rgba(255, 255, 255, 0.514);
  margin-top: 10px;
  font-size: 16px;
}

.results {
  background-image: linear-gradient(
    hsla(256, 72%, 46%, 1),
    hsla(241, 72%, 46%, 0)
  );
  border-radius: 50%;
  width: 105px;
  height: 105px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.results p {
  color: rgba(255, 255, 255, 0.514);
  font-size: 12px;
}

.results span {
  text-align: center;
  font-size: 40px;
}

.results-text h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.results-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.results-text p {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.514);
  text-align: center;
}

.template-results {
  display: flex;
  flex-direction: column;
}

.template-results h2 {
  margin-left: 25px;
  margin-bottom: 20px;
}

.infos-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.card {
  display: flex;
  flex-direction: row;
  background-color: hsla(0, 100%, 67%, 0.158);
  width: 70%;
  padding: 10px;
  border-radius: 10px;
  justify-content: space-between;
}

.card h4 {
  font-size: 14px;
}

.reaction2 {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.reaction2 > h4 {
  color: hsl(0, 100%, 67%);
}

.memory2 {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.memory2 > h4 {
  color: hsl(39, 100%, 56%);
}

.verbal2 {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.verbal2 > h4 {
  color: hsl(166, 100%, 37%);
}

.visual2 {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.visual2 > h4 {
  color: hsl(234, 85%, 45%);
}

.subtitles {
  display: flex;
  gap: 5px;
}

input[type="button"] {
  background-color: hsl(224, 30%, 27%);
  padding: 10px;
  border-radius: 50px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  border: none;
  width: 80%;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

input[type="button"]:hover {
  background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}
